<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>综合项目</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.dhtest.CollegePro</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>CollegeProTodayExtensionDemo</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.apple.share-services</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>CollegeProShareExtension</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>173</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>Identification</string>
		<string>mqq</string>
		<string>sinaweibo</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>mqzoneshare</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MPMediaItemPropertyAlbumTitle</key>
	<string>专辑的标题</string>
	<key>MPMediaItemPropertyArtist</key>
	<string> media item的创作者</string>
	<key>MPMediaItemPropertyArtwork</key>
	<string>media item的插图</string>
	<key>MPMediaItemPropertyPlaybackDuration</key>
	<string>media item的播放总时长，value是表示包装了时长秒数(NSTimeInterval)的NSNumber类型</string>
	<key>MPMediaItemPropertyTitle</key>
	<string>media item的名字或标题. 该属性与MPMediaItemPropertyAlbumTitle属性无关, value是NSString对象</string>
	<key>MPNowPlayingInfoPropertyElapsedPlaybackTime</key>
	<string>当前播放的item所消逝的时间(歌曲当前时间), 单位为秒</string>
	<key>MPNowPlayingInfoPropertyPlaybackRate</key>
	<string>当前播放的item的播放速率, value为1.0表示正常的播放速率</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>jpush.cn</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>App需要您的同意,才能访问蓝牙</string>
	<key>NSCalendarsUsageDescription</key>
	<string>App需要您的同意,才能访问日历</string>
	<key>NSCameraUsageDescription</key>
	<string>Camera Usage Description</string>
	<key>NSContactsUsageDescription</key>
	<string>Contacts Usage Description</string>
	<key>NSHealthShareUsageDescription</key>
	<string>访问健康分享</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>访问健康更新</string>
	<key>NSInternalInconsistencyException</key>
	<string></string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<true/>
	<key>NSMicrophoneUsageDescription</key>
	<string>Microphone Usage Description</string>
	<key>NSMotionUsageDescription</key>
	<string>允许</string>
	<key>NSMotionUsageDescription - 2</key>
	<string>访问运动与健身</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>动画工具"需要访问您的相册</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Photo Library Usage Description</string>
	<key>NSPhotoLibraryUsageDescription - 2</key>
	<string>Photo Library Usage Description</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>healthkit</string>
	</array>
	<key>UIRequiresPersistentWiFi</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>UIUserInterfaceStyleLight</string>
</dict>
</plist>
