<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>冰粥</string>
		<key>members</key>
		<array>
			<dict>
				<key>name</key>
				<string>香甜芒果冰粥</string>
				<key>price</key>
				<string>¥13.00</string>
			</dict>
			<dict>
				<key>name</key>
				<string>荷叶绿豆冰粥</string>
				<key>price</key>
				<string>¥3.50</string>
			</dict>
			<dict>
				<key>name</key>
				<string>蓝莓山药冰粥</string>
				<key>price</key>
				<string>¥12.00</string>
			</dict>
			<dict>
				<key>name</key>
				<string>山楂雪梨冰粥</string>
				<key>price</key>
				<string>¥13.00</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>原味粥</string>
		<key>members</key>
		<array>
			<dict>
				<key>name</key>
				<string>小米粥</string>
				<key>price</key>
				<string>¥6.00</string>
			</dict>
			<dict>
				<key>name</key>
				<string>香米粥</string>
				<key>price</key>
				<string>¥3.50</string>
			</dict>
			<dict>
				<key>name</key>
				<string>百合莲子绿豆粥</string>
				<key>price</key>
				<string>¥12.00</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>甜粥</string>
		<key>members</key>
		<array>
			<dict>
				<key>name</key>
				<string>八宝粥</string>
				<key>price</key>
				<string>¥12.00</string>
			</dict>
			<dict>
				<key>name</key>
				<string>红枣山药糙米粥</string>
				<key>price</key>
				<string>¥12.00</string>
			</dict>
			<dict>
				<key>name</key>
				<string>红豆薏米粥</string>
				<key>price</key>
				<string>¥13.00</string>
			</dict>
			<dict>
				<key>name</key>
				<string>南瓜粥</string>
				<key>price</key>
				<string>¥10.00</string>
			</dict>
			<dict>
				<key>name</key>
				<string>莲子核桃黑米粥</string>
				<key>price</key>
				<string>¥12.00</string>
			</dict>
			<dict>
				<key>name</key>
				<string>雪梨银耳百合粥</string>
				<key>price</key>
				<string>¥12.00</string>
			</dict>
			<dict>
				<key>name</key>
				<string>燕麦红枣小米粥</string>
				<key>price</key>
				<string>¥10.00</string>
			</dict>
			<dict>
				<key>name</key>
				<string>美龄粥</string>
				<key>price</key>
				<string>¥10.00</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>咸粥</string>
		<key>members</key>
		<array>
			<dict>
				<key>name</key>
				<string>秋葵虾仁粥</string>
				<key>price</key>
				<string>¥15.00</string>
			</dict>
			<dict>
				<key>name</key>
				<string>田园蔬菜粥</string>
				<key>price</key>
				<string>¥10.00</string>
			</dict>
			<dict>
				<key>name</key>
				<string>鲜蔬菌菇粥</string>
				<key>price</key>
				<string>¥12.00</string>
			</dict>
			<dict>
				<key>name</key>
				<string>皮蛋廋肉粥</string>
				<key>price</key>
				<string>¥12.00</string>
			</dict>
			<dict>
				<key>name</key>
				<string>藜麦海参粥</string>
				<key>price</key>
				<string>¥45.00</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>小咸菜</string>
		<key>members</key>
		<array>
			<dict>
				<key>name</key>
				<string>四川泡菜</string>
				<key>price</key>
				<string>¥3.00</string>
			</dict>
			<dict>
				<key>name</key>
				<string>萝卜巡萧山</string>
				<key>price</key>
				<string>¥3.00</string>
			</dict>
			<dict>
				<key>name</key>
				<string>香脆黄瓜</string>
				<key>price</key>
				<string>¥3.00</string>
			</dict>
			<dict>
				<key>name</key>
				<string>开胃酸豇豆</string>
				<key>price</key>
				<string>¥3.00</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>凉菜</string>
		<key>members</key>
		<array>
			<dict>
				<key>name</key>
				<string>爽口莴笋丝</string>
				<key>price</key>
				<string>¥14.00</string>
			</dict>
			<dict>
				<key>name</key>
				<string>嘉和拌菜</string>
				<key>price</key>
				<string>¥16.00</string>
			</dict>
			<dict>
				<key>name</key>
				<string>五香酱牛腱</string>
				<key>price</key>
				<string>¥28.00</string>
			</dict>
			<dict>
				<key>name</key>
				<string>拍黄瓜</string>
				<key>price</key>
				<string>¥12.00</string>
			</dict>
			<dict>
				<key>name</key>
				<string>凉拌海带丝</string>
				<key>price</key>
				<string>¥12.00</string>
			</dict>
			<dict>
				<key>name</key>
				<string>捞汁秋葵</string>
				<key>price</key>
				<string>¥18.00</string>
			</dict>
			<dict>
				<key>name</key>
				<string>米奇肉冻</string>
				<key>price</key>
				<string>¥19.00</string>
			</dict>
			<dict>
				<key>name</key>
				<string>爽口西芹</string>
				<key>price</key>
				<string>¥16.00</string>
			</dict>
			<dict>
				<key>name</key>
				<string>芹香麦黄金</string>
				<key>price</key>
				<string>¥16.00</string>
			</dict>
			<dict>
				<key>name</key>
				<string>嘉和凉皮</string>
				<key>price</key>
				<string>¥16.00</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
